/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */
@tailwind components;
@tailwind utilities;

@layer base {
  /* GENERAL */
  html,
  body,
  #__next {
    @apply m-0 h-full;
  }
  a {
    @apply text-black font-medium;
  }

  .backdrop {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .modal {
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 8px;
  }

  /* HEADINGS */
  h1 {
    @apply text-7xl;
  }
  h2 {
    @apply text-6xl;
  }
  h3 {
    @apply text-5xl;
  }
  h4 {
    @apply text-4xl;
  }
  h5 {
    @apply text-3xl;
  }
  h6 {
    @apply text-2xl;
  }

  /* COMPONENTS */

  .btn {
    @apply rounded flex items-center justify-center bg-gradient-to-r from-brand1 to-brand2 text-white font-semibold px-4 py-2 transition-opacity duration-300 transform hover:opacity-80;
  }
  .btn > * {
    @apply text-white font-medium;
  }

  .box {
    @apply bg-tile px-6 py-4 rounded;
  }

  /* FEATURES */

  .sp-input {
    background: none;
  }
  .sp-input:focus {
    outline: none;
  }

  .donutSpinner {
    display: inline-block;
    border: 4px solid hsl(222 100% 95%);
    border-left-color: hsl(243 80% 62%);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: donut-spin 1.2s linear infinite;
  }

  .donutSpinner.smallSpinner {
    width: 24px;
    height: 24px;
  }

  @keyframes donut-spin {
    to {
      transform: rotate(1turn);
    }
  }
}
